* {
    font-family: 'Edu SA Beginner', cursive;
    color: #7B7776;
    padding: 0px;
}

body {
    background-color: #040404;
    background-size: cover;
}

h1 {
    font-size: 3em;
    border-bottom: 3px solid #f8f6f5;
    border-right: 3px solid #f8f6f5;
    width: 400px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 4px 4px 5px #f1783b;
    -moz-box-shadow: 4px 4px 5px #f1783b;
    -webkit-box-shadow: 4px 4px 5px #f1783b;
    -o-box-shadow: 4px 4px 5px #f1783b;
    -ms-box-shadow: 4px 4px 5px #f1783b;
    transition: all 5s;
}

h1:hover {
    transform: scale(0.8);
}

p {
    font-size: 1.5em;
    text-align: center;
}

img {
    width: 350px;
    height: 470px;
    margin-top: 20px;
    transition: all 3s;
}

img:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 4px #f8f7f6;
    -moz-box-shadow: 2px 2px 4px #f8f7f6;
    -webkit-box-shadow: 2px 2px 4px #f8f7f6;
    -o-box-shadow: 2px 2px 4px #f8f7f6;
    -ms-box-shadow: 2px 2px 4px #f8f7f6;
}



.box{
    display: flex;
    margin: 20px;

}